<!DOCTYPE html>
<html lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='base.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='responsive.css') }}">
<body>
    <div class="app abg">
        <div class="logo">
            <img style="max-height: 100%;" src="../static/img/logo.png" alt="" srcset="">
        </div>
        <div style="width: 100%;
                    min-height: 100vh;
                    display: flex;
                    flex-direction: column;
                    align-items: center;">
            <div class="p-cc">
                <div class="cc" id="to">
                    <img src="../static/img/o-1.png" alt="" srcset="">
                    <div>
                        <button type="button" class="to o-btn">Gia đình</button>
                        <button type="button" class="to o-btn">Bạn bè</button>
                    </div>
                </div>
    
                <div class="line"></div>
                
                <div class="cc" id="ty">
                    <img src="../static/img/o-2.png" alt="" srcset="">
                    <div>
                        <button type="button" class="ty o-btn">Sự nghiệp</button>
                        <button type="button" class="ty o-btn">Học vấn</button>
                        <button type="button" class="ty o-btn">Sức khoẻ</button>
                        <button type="button" class="ty o-btn">Tài lộc</button>
                        <button type="button" class="ty o-btn">May mắn</button>
                        <button type="button" class="ty o-btn">Hạnh phúc</button>
                            
                    </div>
                </div>

                <div class="line"></div>

                <div class="cc" id="bg">
                    <img src="../static/img/o-2.png" alt="" srcset="">
                    <div>
                        <button type="button" class="bg o-btn">Loại 1</button>
                        <button type="button" class="bg o-btn">Loại 2</button>
                        <button type="button" class="bg o-btn">Loại 3</button>
                        <button type="button" class="bg o-btn">Loại 4</button>
                        <button type="button" class="bg o-btn">Loại 5</button>
                            
                    </div>
                </div>
    
                <div class="line"></div>
                
                <div class="cc" id="st">
                    <img src="../static/img/o-3.png" alt="" srcset="">
                    <div>
                        <button type="button" class="st o-btn s-btn">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#850000" version="1.1" id="Capa_1" width="2rem" height="2rem" viewBox="0 0 163.861 163.861" xml:space="preserve"><g><path d="M34.857,3.613C20.084-4.861,8.107,2.081,8.107,19.106v125.637c0,17.042,11.977,23.975,26.75,15.509L144.67,97.275   c14.778-8.477,14.778-22.211,0-30.686L34.857,3.613z"/></g></svg>
                            <svg class="hide" xmlns="http://www.w3.org/2000/svg" fill="#850000" width="2rem" height="2rem" viewBox="0 0 24 24"><path d="M13,4V20a1,1,0,0,1-2,0V4a1,1,0,0,1,2,0ZM8,5A1,1,0,0,0,7,6V18a1,1,0,0,0,2,0V6A1,1,0,0,0,8,5ZM4,7A1,1,0,0,0,3,8v8a1,1,0,0,0,2,0V8A1,1,0,0,0,4,7ZM16,5a1,1,0,0,0-1,1V18a1,1,0,0,0,2,0V6A1,1,0,0,0,16,5Zm4,2a1,1,0,0,0-1,1v8a1,1,0,0,0,2,0V8A1,1,0,0,0,20,7Z"/></svg>
                            Âm thanh 1
                        </button>
                        <button type="button" class="st o-btn s-btn">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#850000" version="1.1" id="Capa_1" width="2rem" height="2rem" viewBox="0 0 163.861 163.861" xml:space="preserve"><g><path d="M34.857,3.613C20.084-4.861,8.107,2.081,8.107,19.106v125.637c0,17.042,11.977,23.975,26.75,15.509L144.67,97.275   c14.778-8.477,14.778-22.211,0-30.686L34.857,3.613z"/></g></svg>
                            <svg class="hide" xmlns="http://www.w3.org/2000/svg" fill="#850000" width="2rem" height="2rem" viewBox="0 0 24 24"><path d="M13,4V20a1,1,0,0,1-2,0V4a1,1,0,0,1,2,0ZM8,5A1,1,0,0,0,7,6V18a1,1,0,0,0,2,0V6A1,1,0,0,0,8,5ZM4,7A1,1,0,0,0,3,8v8a1,1,0,0,0,2,0V8A1,1,0,0,0,4,7ZM16,5a1,1,0,0,0-1,1V18a1,1,0,0,0,2,0V6A1,1,0,0,0,16,5Zm4,2a1,1,0,0,0-1,1v8a1,1,0,0,0,2,0V8A1,1,0,0,0,20,7Z"/></svg>
                            Âm thanh 2
                        </button>
                    
                        <button type="button" class="st o-btn s-btn">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#850000" version="1.1" id="Capa_1" width="2rem" height="2rem" viewBox="0 0 163.861 163.861" xml:space="preserve"><g><path d="M34.857,3.613C20.084-4.861,8.107,2.081,8.107,19.106v125.637c0,17.042,11.977,23.975,26.75,15.509L144.67,97.275   c14.778-8.477,14.778-22.211,0-30.686L34.857,3.613z"/></g></svg>
                            <svg class="hide" xmlns="http://www.w3.org/2000/svg" fill="#850000" width="2rem" height="2rem" viewBox="0 0 24 24"><path d="M13,4V20a1,1,0,0,1-2,0V4a1,1,0,0,1,2,0ZM8,5A1,1,0,0,0,7,6V18a1,1,0,0,0,2,0V6A1,1,0,0,0,8,5ZM4,7A1,1,0,0,0,3,8v8a1,1,0,0,0,2,0V8A1,1,0,0,0,4,7ZM16,5a1,1,0,0,0-1,1V18a1,1,0,0,0,2,0V6A1,1,0,0,0,16,5Zm4,2a1,1,0,0,0-1,1v8a1,1,0,0,0,2,0V8A1,1,0,0,0,20,7Z"/></svg>
                            Âm thanh 3
                        </button>
                        <button type="button" class="st o-btn s-btn">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#850000" version="1.1" id="Capa_1" width="2rem" height="2rem" viewBox="0 0 163.861 163.861" xml:space="preserve"><g><path d="M34.857,3.613C20.084-4.861,8.107,2.081,8.107,19.106v125.637c0,17.042,11.977,23.975,26.75,15.509L144.67,97.275   c14.778-8.477,14.778-22.211,0-30.686L34.857,3.613z"/></g></svg>
                            <svg class="hide" xmlns="http://www.w3.org/2000/svg" fill="#850000" width="2rem" height="2rem" viewBox="0 0 24 24"><path d="M13,4V20a1,1,0,0,1-2,0V4a1,1,0,0,1,2,0ZM8,5A1,1,0,0,0,7,6V18a1,1,0,0,0,2,0V6A1,1,0,0,0,8,5ZM4,7A1,1,0,0,0,3,8v8a1,1,0,0,0,2,0V8A1,1,0,0,0,4,7ZM16,5a1,1,0,0,0-1,1V18a1,1,0,0,0,2,0V6A1,1,0,0,0,16,5Zm4,2a1,1,0,0,0-1,1v8a1,1,0,0,0,2,0V8A1,1,0,0,0,20,7Z"/></svg>
                            Âm thanh 4
                        </button>
                    
                        <button type="button" class="st o-btn s-btn">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#850000" version="1.1" id="Capa_1" width="2rem" height="2rem" viewBox="0 0 163.861 163.861" xml:space="preserve"><g><path d="M34.857,3.613C20.084-4.861,8.107,2.081,8.107,19.106v125.637c0,17.042,11.977,23.975,26.75,15.509L144.67,97.275   c14.778-8.477,14.778-22.211,0-30.686L34.857,3.613z"/></g></svg>
                            <svg class="hide" xmlns="http://www.w3.org/2000/svg" fill="#850000" width="2rem" height="2rem" viewBox="0 0 24 24"><path d="M13,4V20a1,1,0,0,1-2,0V4a1,1,0,0,1,2,0ZM8,5A1,1,0,0,0,7,6V18a1,1,0,0,0,2,0V6A1,1,0,0,0,8,5ZM4,7A1,1,0,0,0,3,8v8a1,1,0,0,0,2,0V8A1,1,0,0,0,4,7ZM16,5a1,1,0,0,0-1,1V18a1,1,0,0,0,2,0V6A1,1,0,0,0,16,5Zm4,2a1,1,0,0,0-1,1v8a1,1,0,0,0,2,0V8A1,1,0,0,0,20,7Z"/></svg>
                            Âm thanh 5
                        </button>
                        <button type="button" class="st o-btn s-btn">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#850000" version="1.1" id="Capa_1" width="2rem" height="2rem" viewBox="0 0 163.861 163.861" xml:space="preserve"><g><path d="M34.857,3.613C20.084-4.861,8.107,2.081,8.107,19.106v125.637c0,17.042,11.977,23.975,26.75,15.509L144.67,97.275   c14.778-8.477,14.778-22.211,0-30.686L34.857,3.613z"/></g></svg>
                            <svg class="hide" xmlns="http://www.w3.org/2000/svg" fill="#850000" width="2rem" height="2rem" viewBox="0 0 24 24"><path d="M13,4V20a1,1,0,0,1-2,0V4a1,1,0,0,1,2,0ZM8,5A1,1,0,0,0,7,6V18a1,1,0,0,0,2,0V6A1,1,0,0,0,8,5ZM4,7A1,1,0,0,0,3,8v8a1,1,0,0,0,2,0V8A1,1,0,0,0,4,7ZM16,5a1,1,0,0,0-1,1V18a1,1,0,0,0,2,0V6A1,1,0,0,0,16,5Zm4,2a1,1,0,0,0-1,1v8a1,1,0,0,0,2,0V8A1,1,0,0,0,20,7Z"/></svg>
                            Âm thanh 6
                        </button>
                    
                        <button type="button" class="st o-btn s-btn">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#850000" version="1.1" id="Capa_1" width="2rem" height="2rem" viewBox="0 0 163.861 163.861" xml:space="preserve"><g><path d="M34.857,3.613C20.084-4.861,8.107,2.081,8.107,19.106v125.637c0,17.042,11.977,23.975,26.75,15.509L144.67,97.275   c14.778-8.477,14.778-22.211,0-30.686L34.857,3.613z"/></g></svg>
                            <svg class="hide" xmlns="http://www.w3.org/2000/svg" fill="#850000" width="2rem" height="2rem" viewBox="0 0 24 24"><path d="M13,4V20a1,1,0,0,1-2,0V4a1,1,0,0,1,2,0ZM8,5A1,1,0,0,0,7,6V18a1,1,0,0,0,2,0V6A1,1,0,0,0,8,5ZM4,7A1,1,0,0,0,3,8v8a1,1,0,0,0,2,0V8A1,1,0,0,0,4,7ZM16,5a1,1,0,0,0-1,1V18a1,1,0,0,0,2,0V6A1,1,0,0,0,16,5Zm4,2a1,1,0,0,0-1,1v8a1,1,0,0,0,2,0V8A1,1,0,0,0,20,7Z"/></svg>
                            Âm thanh 7
                        </button>
                        <button type="button" class="st o-btn s-btn">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#850000" version="1.1" id="Capa_1" width="2rem" height="2rem" viewBox="0 0 163.861 163.861" xml:space="preserve"><g><path d="M34.857,3.613C20.084-4.861,8.107,2.081,8.107,19.106v125.637c0,17.042,11.977,23.975,26.75,15.509L144.67,97.275   c14.778-8.477,14.778-22.211,0-30.686L34.857,3.613z"/></g></svg>
                            <svg class="hide" xmlns="http://www.w3.org/2000/svg" fill="#850000" width="2rem" height="2rem" viewBox="0 0 24 24"><path d="M13,4V20a1,1,0,0,1-2,0V4a1,1,0,0,1,2,0ZM8,5A1,1,0,0,0,7,6V18a1,1,0,0,0,2,0V6A1,1,0,0,0,8,5ZM4,7A1,1,0,0,0,3,8v8a1,1,0,0,0,2,0V8A1,1,0,0,0,4,7ZM16,5a1,1,0,0,0-1,1V18a1,1,0,0,0,2,0V6A1,1,0,0,0,16,5Zm4,2a1,1,0,0,0-1,1v8a1,1,0,0,0,2,0V8A1,1,0,0,0,20,7Z"/></svg>
                            Âm thanh 8
                        </button>
                    
                    </div>
                </div>
             
                <div class="line"></div>
                
                <div style="margin-bottom: 128px;" class="c-btn" id="create_btn">
                    <div>
                        TẠO THIỆP
                    </div>
                </div>
                <!-- <video width="320" height="240" controls autoplay>
                    <source src="{{ url_for('static',filename='video/{}.mp4'.format(video_name) ) }}" type="video/mp4">
                </video>
                
                <a href="{{ url_for('dowload', name=video_name ) }}">Tải</a> -->
                
    
            </div>
    
        </div>

    </div>

</body>
<script src="../static/src.js"></script>
</html>