<!DOCTYPE html>
<html lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stpid LGH</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='base.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='responsive.css') }}">
<body style="width: 100%; height: 100vh;">
    <div class="abg">
        <div class="logo">
            <img style="max-height: 100%;" src="../static/img/logo.png" alt="" srcset="">
        </div>
        <div class="app">
            <div style="
            flex: 1;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            min-width: 60%;
            max-width: 85%;"
            >
                <img style="width: 100%;" src="../static/img/bg-text.png" alt="" srcset="">
            </div>
            
            <div style="flex: 1; min-width: 60%; display: flex; justify-content: center;">
                <div>
                    <div class="c-btn">
                        <div>
                            <a style="color: inherit; text-decoration: none;" href="/choose">TẠO THIỆP</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>