<!DOCTYPE html>
<html lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stpid LGH</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='base.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='responsive.css') }}">
<body style="width: 100%; height: 100vh;">
    <div class="abg">
        <div class="logo">
            <img style="max-height: 100%;" src="../static/img/logo.png" alt="" srcset="">
        </div>
        <div class="app">
            <div style="min-width: 60%;" class="r-top">
                <div style="display: flex; align-items: center; justify-content: center;">
                    <div class="c-btn" id="rd-btn">
                        <div>
                            TẠO NGẪU NHIÊN
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        function rd(min, max) {
            return Math.floor(Math.random() * (max - min) + min)
        }

        function random_() {
            let video_name = ''
            
            video_name += rd(10, 22)
            video_name += rd(0, 5)
            video_name += rd(0, 8)


            window.location.href = "/pv/" + video_name            
        }
        
        document.getElementById('rd-btn').addEventListener('click', random_)
    </script>
</body>
</html>